/* style.css */

#board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#players {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.player-tiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
}

.player-tiles .tuile {
    background-color: lightblue;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

#tuiles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

#rounds-container {
    margin-top: 20px;
    width: 80%;
    border: 1px solid black;
    padding: 10px;
    overflow-y: auto;
    max-height: 400px;
}

.round {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.round h2 {
    margin: 5px 0;
}

.actions {
    margin-top: 5px;
}

.action {
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
